body {
    display: flex;
    background-image: url(./wallpaper.jpg);
    /* max-width: 80vw; */
    /* max-height: 80vh; */
    background-color: rgb(18, 25, 61);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow-y: hidden;

}

.login {
    /* background-color: grey; */
    width: 50vw;
    height: 50vh;
    min-width: min-content;
    min-height: min-content;

    position: relative;
    top: 20vh;
    left: 25vw;
    opacity: .7;
    display: flex;
    align-content: center;
}

#loginForm {
    width: fit-content;
    height: fit-content;
    background-color: grey;
    padding: 10px;
}

.loginWord {
    width: 100%;
    height: 30%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 80px;
    margin-left: 20px;
    text-align: center;

}

.justifyCenter {
    display: flex;
    justify-content: center;
}

.margin {
    margin: 20px
}

.spaceAround {
    display: flex;
    justify-content: space-around;
}

.regWord {
    text-align: center;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
}

.fontWeightBold {
    font-weight: bold;
}